<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052364408684-ltuh0tb5fcl2keb814mq7dgd0lv3vibh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052364408684-ltuh0tb5fcl2keb814mq7dgd0lv3vibh</string>
	<key>API_KEY</key>
	<string>AIzaSyDjDo4YxmfQHKrbLfVm0U2YS0fzsmZcYSA</string>
	<key>GCM_SENDER_ID</key>
	<string>1052364408684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jake.ExFirebaseStorage</string>
	<key>PROJECT_ID</key>
	<string>exfirebasetest-ea1f4</string>
	<key>STORAGE_BUCKET</key>
	<string>exfirebasetest-ea1f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052364408684:ios:3ec8acb2556d0c29131549</string>
</dict>
</plist>